<% provide(:title, 'about') %>
<h1>About</h1>
<p>
  Created by Ryan Williams. Copyright 2012.
<br />
  Source available on <a href="https://github.com/sicentendu/punk-shows"> GitHub</a>.
<br />
  If you would like something removed or changed, please feel free to contact me.

</p>