<% provide(:title, 'about') %>
<h1>About</h1>
<p>
  Created by Ryan Williams. Copyright 2012.

  Contact:
  Do the math:
  ryancwilliams(5+4)@gmail.com

  Source available on <a href="https://github.com/sicentendu/punk-shows"> GitHub </a>.

  If you would like something removed or changed, please feel free to contact me.

</p>