<% provide(:title, 'about') %>
<h4>About</h4>
<p>
  Created by Ryan W. in 2012.
<br />
  Source available on <a href="https://github.com/sicentendu/punk-shows"> GitHub</a>.
<br />
  If you have something to say, feel free to <a href="mailto:ryancwilliams9+ctshows@gmail.com"> contact me</a>.

</p>