<% provide(:title, 'Home') %>

<ul class="nav nav-tabs">
  <li class ="active"><a href="#upcoming" data-toggle="tab">UPCOMING SHOWS</a></li>
  <li><a href="#past" data-toggle="tab">PAST SHOWS</a></li>
</ul>
 
<div class="tab-content">
  <div class="tab-pane active" id="upcoming"><%= render 'shared/feed' %></div>
  <div class="tab-pane" id="past"><%= render 'shared/past' %></div>
</div>
 
<script>
$('#content').html('<%= escape_javascript (render :partial => "shared/feed") %>')
  $(function () {
    $('.tabs a:last').tab('show')
  })
</script>  

  </div>