<% provide(:title, 'home') %>

<ul class="nav nav-tabs">
  <li><%= link_to "UPCOMING SHOWS", future_path %></li>
  <li class ="active"><a href="#calendar" data-toggle="tab">CALENDAR</a></li>
  <li><%= link_to "PAST SHOWS", past_path %></li>
</ul>
 
<div class="tab-content">

  <div class="tab-pane active" id="calendar"><%= render 'shared/calendar' %></div>
</div>
 
<script>
$('#content').html('<%= escape_javascript (render :partial => "shared/feed") %>')
  $(function () {
    $('.tabs a:last').tab('show')
  })
</script>  

  