<% provide(:title, 'links') %>
<h4>Links</h4>
<p>
For more listings and other stuff: <br />
<a href="http://thectsound.com/yabb/index.php?board=2.0"> The Connecticut Sound </a> <br />
<a href="http://www.manicproductions.org/"> Manic Productions</a> <br />
<a href="http://thearcagency.org"> The Arc Agency</a> <br />
<a href="http://www.thespacect.com/"> The Space</a> <br />
<a href="http://www.redscrollrecords.com"> Redscroll Records</a> <br />
<a href="http://allagesct.tumblr.com"> AllAgesCT</a> <br />
<a href="http://www.ctindie.com"> CT Indie</a> <br />

</p>