<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <div class="span8">
    <% if @user.shows.any? %>
      <h3>shows (<%= @user.shows.count %>)</h3>
      <ol class="events">
        <%= render @shows %>
      </ol>
      <%= will_paginate @shows %>
    <% end %>
  </div>
</div>