 @import "bootstrap"; 
 @import url(http://fonts.googleapis.com/css?family=Nothing+You+Could+Do);

/* mixins, variables, etc. */

 $grayMediumLight: #eaeaea; 

@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

/* universal */



#Wrapper {
}
#Container {
  width: 930px;
  margin: 0 auto;
}

#HeaderWrapper {
  padding: 10px 0;
  height: 25px;
  display: block;
  border-bottom: 1px solid #EEE;
  margin-bottom: 15px;
} 
#Header {
  width: 930px;
  margin: 0 auto;
}
#TopLevelNav {
  margin-top: 5px;
  clear: both;
  display: block;
}
#TopLevelNav .NewMail {
  color: #ff2984;
}
#TopLevelNav li {
  display: inline;
  margin: 0 20px 0 0;
  line-height: 1.5;
  font-weight: bold;
}
#TopLevelNav li .Identity {
  font-weight: bold;
}
#TopLevelNav li .Identity small {
  font-weight: normal;
}
#TopLevelNav li a {
  font-size: 13px;
}

/* #navlist ul:link {
  color: #0192b5;

}

#navlist ul:visited {
  color: #0192b5;

}
*/

#navlist ul:hover {
  text-decoration: underline;

}


/* OLD */

html {
  overflow-y: scroll;
}

body {
  padding-top: 20px;
  font-family: Arial;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

a:link {
  color: #000;
}

a:hover {
  text-decoration: underline;
}

#calendar a:hover {
  text-decoration: underline;
}


/* typography */
/* 
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 2em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: left;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

h5 {
  font-size: 1em;
  text-align: left;
  font-weight: normal;
  color: 000;


}
*/

h3 {
  font-size: 1.5em;
  font-weight: normal;
}

h4 {
  font-size: 2em;
  text-align: left;
  font-weight: bold;
  color: 000;
  line-height: 1;
}

p {
  font-size: 1em;
  line-height: 1.7em;
}

/* header */

.navbar-inner {
  background-color: #2c2c2c; /* fallback color, place your own */

  /* Gradients for modern browsers, replace as you see fit */
  background-image: -moz-linear-gradient(top, #333333, #222222);
  background-image: -ms-linear-gradient(top, #333333, #222222);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333333), to(#222222));
  background-image: -webkit-linear-gradient(top, #333333, #222222);
  background-image: -o-linear-gradient(top, #333333, #222222);
  background-image: linear-gradient(top, #333333, #222222);
  background-repeat: repeat-x;

  /* IE8-9 gradient filter */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#222222', GradientType=0);
}

#logo {
/* font-family: 'Nothing You Could Do', cursive; */
  font-family: Arial;
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #000;
  text-transform: uppercase;
  letter-spacing: -1px;
  /* padding-top: 10px; */
  font-weight: bold;
  /* line-height: 1; */
}


#logo:hover {
  text-decoration: none;
}

#navlist {
  float: right;
}

#navlist li
{
font-family: Arial;
display: inline;
list-style-type: none;
padding-right: 5px;
padding-left: 5px;
}


/* footer */

#FooterWrapper {
  margin: 40px 0 0;
}
#Footer {
  width: 930px;
  border-top: 1px solid #eaeaea;
  margin: 0 auto;
  padding: 10px 0 20px;
}
#Footer #Nav {
}
#Footer #Nav li {
  display: inline;
  font-size: .95em;
  margin: 0 10px 0 0;
}

footer {
  width: 940px;
  margin: 0px auto;
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
}

footer a {
  color: #555;
}  

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.6em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
    }
  }
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  height: auto;
  margin-bottom: 15px;
  @include box_sizing;
}

#error_explanation {
  color:#f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
 }

 /* users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter
    }
  }
}

/* microposts */

.microposts {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}
.content {
  display: block;
}
.timestamp {
  color: $grayLight;
}
.gravatar {
  float: left;
  margin-right: 10px;
}
aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

.delete {
  color: $grayLight;
  text-align: center;
}

/* sidebar */

.stats {
  overflow: auto;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $grayLighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: $blue;
    }
  }
  strong {
    display: block;
  }
}

/* calendar */

#calendar a {
  color: #000;
}

#calendar table {
  border-collapse: collapse;
  width: 100%;
}

#calendar td,
#calendar th {
  font-family: "Lucida Grande",arial,helvetica,sans-serif;
  font-size: 10px;
  padding: 6px;
  border: 1px solid #999;
}

#calendar th {
  background: #DDD;
  color: #666;
  text-align: center;
  width: 14.2857142857143%;
}

#calendar td {
  background: #FFF;
  color: #777;
  height: 80px;
  vertical-align: top;
  font-size: 16px;
}

#calendar .notmonth {
  color: #CCC;
}

#calendar #month {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  color: #999;
  font-weight: normal;
}

#calendar #month a{
  text-decoration: none;
  padding: 0 10px;
  color: #999;
  font-weight: normal;

}

#calendar #month a:hover {
  text-decoration: underline;
  padding: 0 10px;
  color: #999;
  font-weight: normal;
}

#calendar .today {
  background-color: #D7F2FF;
}

#calendar ul {
  margin: 0;
  margin-top: 5px;
  padding: 0;
  list-style: none;
}

#calendar li {
  color: #555;
  margin: 0;
  padding: 0;
  font-size: 11px;
  text-align: center;

}

#calendar #next {
  border-bottom: 1px dotted #666;
}
