<footer class="footer">
	<div id="footerwrapper">
		<div id="footer">
			<container>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Links", links_path %></li>
    </ul>
  </nav>
</container>
</div>
</div>
</footer>
